* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    line-height:1.5;
    background: linear-gradient(#CCFFCC,#E0FFE0,#FFFFFF);
}
h1 {
   color:darkgreen; 
   font-size:50px;
   letter-spacing: 2px;
}
h2 {
    color:navy;
    font-size: 30px;
}
h3 {
    color:darkcyan;
    font-size: 19px;
}
p {
    line-height:1.6;
}
a {
    color: darkred;
}

a:hover {
    color:indianred;
}
.card {
    background-color:azure;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border: 0.5px solid black;
    transition: all 0.3s ease;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 25px rgba(0,0,0,0.16);
}
.btn {
    background-color:skyblue;
    border-radius: 15px;
    padding: 10px;
    border: 0.5px solid white;
    transition: all 0.3s ease;
}
.btn:hover {
    box-shadow: 0 12px 25px rgba(0,0,0,0.16);
    transform: scale(1.03);
}
.btn:active {
    background-color: #f5f5f5;
}
th:first-child {
    color:darkcyan ;
}
.section {
    padding:10px 20px;
}
.hero {
    padding: 60px 20px;
    text-align: center;
}
